@use '@/globalCss/utils.scss' as utils;

.card {
  position: relative;
  color: rgba(148, 163, 184, 0.3);
  border: 2px solid currentColor;
  border-radius: 16px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  text-decoration: none;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    inset: 0px;
    background: currentColor;
    opacity: 0.2;

  }
}

.card:hover {
  box-shadow: 0 12px 24px rgba(15, 23, 42, 0.12);
  transform: translateY(-2px);
}

.company {
  font-size: 1.2rem;
  font-weight: 600;
  color: currentcolor;
  color: color-mix(in srgb, currentColor 80%, black 50%);
}

.project {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0f172a;
}

.salary {
  font-size: 0.95rem;
  font-weight: 600;
  color: #047857;
}
